auto_https off

rammap.uk {  # Configuration for your domain
  @api {
    path /api/*
  }

  handle @api {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:80
  }

  encode gzip
}

www.rammap.uk {
  redir https://rammap.uk{uri}
}
